{% extends 'Projects/base_dashboard.html' %}
{% block content %}

<div class="page-heading">
    <h1>Add Task to {{ project.title }}</h1>
</div>





<form method="POST" class="form-card">
    {% csrf_token %}

    <div class="input-group">
        <label>Task Title</label>
        <input type="text" name="title" required>
    </div>

    <div class="input-group">
        <label>Description</label>
        <textarea name="description" rows="3" required></textarea>
    </div>

    <div class="input-group">
        <label>Status</label>
        <select name="status">
            <option value="Pending">Pending</option>
            <option value="InProgress">In Progress</option>
            <option value="Completed">Completed</option>
        </select>
    </div>

    <button class="btn-submit" type="submit">Add Task</button>




</form>

{% endblock %}


