<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eazzyip - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">Eazzyip</div>
        <ul class="nav-links">
            <li><a href="{% url 'Screensite:mission' %}">Mission</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <a href="#" class="top-button">Profile</a>
    </nav>

    <!-- MAIN WRAPPER -->
    <div class="home-wrapper">
        <!-- Welcome Glass Card -->
         
        <div class="glass-card">
            <h1>Your Project</h1>
            <p>you will get your projects from here </p>
            <a href="#" class="top-button">Your Task</a>
        </div>
           

        
        <!-- Project Assignment Cards -->
        <div class="project-assignment-card">
            
        </div>

        <div class="project-assignment-card">
            
        </div>
    </div>

</body>
</html>

